$primary: #000000;
$secondary: #ffffff;
$gray-01: #333333;
$brand-main: #ec1d24;

$font-family-primary: "Roboto Condensed", sans-serif;

@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/RobotoCondensed-VariableFont_wght.ttf")
    format("truetype");
}

$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xl-large: 1400px;
