.Home--container {
  margin-top: 94px;
  .Home--favorites-title {
    margin: 0;
    padding: 24px 12px 24px 12px;
    font-family: $font-family-primary;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    @media (min-width: $medium) {
      padding: 24px 48px 24px 48px;
    }
  }
  .Home--searchbar-container {
    @media (min-width: $medium) {
      margin-top: 124px;
      &.favorite-active {
        margin-top: 0px;
      }
    }
  }
  .Home--product-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 16px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    overflow: auto;
    @media (min-width: $small) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: $medium) {
      padding: 0 48px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (min-width: $large) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    @media (min-width: $x-large) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
  .Home--product-list-not-found-container {
    padding: 12px 16px 12px 16px;
    .Home--product-list-not-found {
      margin: 0;
      font-family: $font-family-primary;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
      border: none;
    }
    @media (min-width: $medium) {
      padding: 12px 48px 12px 48px;
    }
  }
}
