.Home--container {
  margin-top: 94px;
  .Home--searchbar-container {
    @media (min-width: $medium) {
      margin-top: 124px;
    }
  }
  .Home--product-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 16px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    overflow: auto;
    @media (min-width: $small) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: $medium) {
      padding: 0 48px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (min-width: $large) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    @media (min-width: $x-large) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
